<header>
    <mdb-navbar SideClass="navbar navbar-expand-md navbar-dark stylish-color" [containerInside]="true">
        <logo>
            <a routerLink="/" class="logo navbar-brand white-text"><strong>Todo</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!authenticated; else accountMenu" class="nav-item waves-light" mdbRippleRadius>
                    <a [routerLink]="['/login']" [queryParams]="{ return: getCurrentUrl() }" class="nav-link"><i class="fa fa-sign-in"></i> <span>Вход</span></a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>

<ng-template #accountMenu>
    <li class="nav-item waves-light" mdbRippleRadius>
        <a routerLink="/account-info" (click)="close()" class="nav-link"><i class="fa fa-user"></i> {{userDetails.userName}}</a>
    </li>
    <li *ngIf="userDetails.isAdministrator" class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" (click)="close()" [routerLink]="['/admin']"><i class="fa fa-gear"></i> Администрирование</a>
    </li>
    <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" (click)="close()" [routerLink]="['/logout']"><i class="fa fa-sign-out"></i> Выход</a>
    </li>
</ng-template>