<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
        <form>
            <p class="h5 text-center mb-4">Регистрация</p>

            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control" mdbActive>
                <label for="orangeForm-name">Имя</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-email" class="form-control" mdbActive>
                <label for="orangeForm-email">Email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
                <label for="orangeForm-pass">Пароль</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-orange waves-light" mdbRippleRadius>Зарегистрироваться</button>
            </div>

        </form>
    </div>
</div>
