@import "table-folding.css";
@import "table-folding-unfold-md.css";

$link-color: #0275d8;
$link-color-hover: #0056b3;

/*anchor fix*/
a:not([href]):not([tabindex]) {
    color: $link-color;
}

a:not([href]):not([tabindex]):focus {
    color: $link-color;
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

a:not([href]):not([tabindex]):hover {
    color: $link-color-hover;
}
/*end: anchor fix*/

/*footer fix*/
html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: -1px;
    margin-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*end: footer fix*/

.items-outer-container {
    position: relative;
    transition: height 600ms cubic-bezier(.07,.82,.39,.98);
}
