@import "table-folding.css";

$link-color: #0275d8;
$link-color-hover: #0056b3;

a:not([href]):not([tabindex]) {
    color: $link-color;
}

a:not([href]):not([tabindex]):focus {
    color: $link-color;
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

a:not([href]):not([tabindex]):hover {
    color: $link-color-hover;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 1px;
    margin-bottom: 280px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.outlet-container {
    position: relative;
}

.animated-container {
    display: block;
    position: absolute;
    width: 100%;
}
