@import "table-folding.css";

$link-color: #0275d8;
$link-color-hover: #0056b3;

a:not([href]):not([tabindex]) {
    color: $link-color;
}

a:not([href]):not([tabindex]):focus {
    color: $link-color;
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

a:not([href]):not([tabindex]):hover {
    color: $link-color-hover;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 1px;
    margin-bottom: 280px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.outlet-container {
    position: relative;
}

.animated-container {
    display: block;
    position: absolute;
    width: 100%;
}

/*dropdown fix*/
.dropdown .dropdown-menu a.dropdown-item {
    display: block;
    width: auto;
    margin: 12px;
    padding: 0px;
}

.dropdown .dropdown-menu a.dropdown-item:hover {
    background-color: white;
}

.dropdown .dropdown-menu a.dropdown-item span {
    display: block;
    padding: 5px;
    padding-left: 9px;
    border-radius: 2px;
    transition: background-color 100ms, color 100ms;
}

.dropdown .dropdown-menu a.dropdown-item:hover span {
    color: white;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.dropdown .dropdown-menu.dropdown-stylish-color a.dropdown-item:hover span {
    background-color: #4b515d;
}
/*dropdown fix end*/
