<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue lighten-1" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light">
                    <a class="nav-link">Link1</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Link2</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Link3</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!isAuthenticated; else accountInfo" class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" (click)="login()"><i class="fa fa-sign-in"></i> <span>Log In</span></a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>

<ng-template #accountInfo>
    <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" (click)="logout()"><span>{{userName}}</span> <i class="fa fa-sign-out"></i> <span>Log Out</span></a>
    </li>
</ng-template>