<table class="table table-sm table-striped table-folding">
    <thead>
        <tr>
            <th>User Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td data-label="User Id">{{user.id}}</td>
            <td data-label="UserName">{{user.userName}}</td>
            <td data-label="Email">{{user.email}}</td>
            <td data-label="Actions">
                <button type="button" class="btn btn-sm btn-danger waves-light" (click)="deleteUser(user.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>